<app-header></app-header>
<div class="container">
  <div class="container-info-editar-cliente">
    <div class="container-title">
      <h2>Editar Cliente</h2>
    </div>

    <div class="btn-voltar">
      <button mat-raised-button [routerLink]="'/listar-clientes'">
        Voltar
      </button>
    </div>
  </div>
  <div>
    <form
      [formGroup]="clienteForm"
      (ngSubmit)="editarCliente()"
      class="form-container"
    >
      <!-- Nome -->
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          formControlName="nome"
          placeholder="Digite seu Nome"
          required
        />
        <mat-error
          *ngIf="
            clienteForm.get('nome')?.invalid && clienteForm.get('nome')?.touched
          "
        >
          Nome é obrigatório e deve ter pelo menos 3 caracteres.
        </mat-error>
      </mat-form-field>

      <!-- Idade -->
      <mat-form-field appearance="outline">
        <mat-label>Idade</mat-label>
        <input
          matInput
          type="number"
          formControlName="idade"
          placeholder="Digite sua Idade"
          required
        />
        <mat-error
          *ngIf="
            clienteForm.get('idade')?.invalid &&
            clienteForm.get('idade')?.touched
          "
        >
          Idade é obrigatória e deve ser maior que 0.
        </mat-error>
      </mat-form-field>

      <!-- Cidade -->
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input
          matInput
          type="text"
          formControlName="cidade"
          placeholder="Digite sua Cidade"
          required
        />
        <mat-error
          *ngIf="
            clienteForm.get('cidade')?.invalid &&
            clienteForm.get('cidade')?.touched
          "
        >
          Cidade é obrigatória e deve ter pelo menos 3 caracteres.
        </mat-error>
      </mat-form-field>

      <!-- Botão Cadastrar -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="clienteForm.invalid"
      >
        Editar
      </button>
    </form>
  </div>
</div>

